/*content wrapper*/
.content-wrapper {
	height: 83vh;
	width: 100%;
}

.content-container {
	margin: 0 auto;
	text-align: center;
}

.content-container h1 {
	margin-top: 10%;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 3em;
	color:#ecf0f1;
	text-transform: uppercase;
	display: inline-block;
}

.text-red {
	color: #e74c3c;
}

.background-whiteish {
	background-color: #f5f5f5;
	height: 75vh;
}

.background-grass{
	background-color: #BEEB9F;
}

.title-container h3 { 
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.5em;
	margin-top: 5px;
}

.icon-container {
	margin-top: 20px;
	display: inline-block;
}

.header-bg {
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-position: 0px 0px; 
}

.paragraph-content {
	width: 35%;
	margin: 0 auto;
}

.paragraph-content p {
	margin-top: 50px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	font-weight: 100;
	font-size: 22px;
	color: #ecf0f1;
}

.small-line-header {
	width: 10%;
	border: 0;
	display: block;
	border-top: 1px solid #ecf0f1;
    margin: 1em 0;
	height: 1.5px;
	margin: 0 auto;
}

.small-line-radar {
	width: 4%;
	border: 0;
	display: block;
	border-top: 1.5px solid #e74c3c;
    margin: 1em 0;
	height: 1.5px;
	margin: 0 auto;
	margin-top: -5px;
	padding-bottom: 3px;
}

.paragraph-container {
	color: #e74c3c;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.1em;

}

#chartdiv_radar {
	position: absolute;
	width		: 100%;
	height		: 500px;
	font-size	: 11px;

}

.small-line-development {
	width: 4%;
	border: 0;
	display: block;
	border-top: 1.5px solid #3498db;
    margin: 1em 0;
	height: 1.5px;
	margin: 0 auto;
	margin-top: -5px;
	padding-bottom: 3px;
}

.text-blue {
	color: #3498db;
}

.circle-outer {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: absolute;
}

.circle {
	display: table;					
}

.cirlce-container {
	width: 100%;
	margin-top: 7%;
	float: center;
	height: 530px;
	overflow: auto;
}

.background-turquoise {
	background-color: #79BD8F;
}

.small-line-experience {
	width: 2%;
	border: 0;
	display: block;
	border-top: 1.5px solid #ecf0f1;
    margin: 1em 0;
	height: 1.5px;
	margin: 0 auto;
	margin-top: -5px;
	padding-bottom: 3px;
}

.text-white { 
	color: #ecf0f1;
}

.experience_box{
	padding: 50px;
	position: relative;
	width: 50%;
	margin: 0 auto;
	overflow: auto;
	height: 600px;
}

.experience_box:before,
.experience_box:after {
	content:"";
	display: table;
}

.experience_box:after{
	clear:both;
}

.experience_box article{
	width: 170px;
	height: 250px;
	background:	#00A388;
	cursor: pointer;
	float: left;
	border: 10px solid #00A388;
	text-align: left;
	text-transform: none;
	margin: 15px;
	z-index: 1;
	box-shadow: 
		0px 0px 0px 10px #00A388, 
        1px 1px 3px 10px #16a085;
    transition: 
        opacity 0.4s linear, 
        transform 0.4s ease-in-out, 
        box-shadow 0.4s ease-in-out;
}

.experience_box article h3{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	font-weight: 300;
	color: #f1c40f;
	text-shadow: 0px 0px 0px #f1c40f;
	opacity: 0.8;
	text-transform: uppercase;
}

.experience_box article p{
	font-family:  'Quattrocento Sans', sans-serif;
	font-size: 15px;
	line-height: 17px;
	color: #f5f5f5;
	text-shadow: 0px 0px 0px #f5f5f5;
	opacity: 0.9;
}

.experience_box 

.experience_box h3,
.experience_box p.
.experience_box article{
    transition: 
    opacity 0.2s linear, 
    text-shadow 0.5s ease-in-out, 
    color 0.5s ease-in-out;
}

.experience_box article.blur{
	box-shadow: 0px 0px 20px 10px #00A388;
    transform: scale(0.9);
    opacity: 0.7;
}

.experience_box article.blur h3 a{
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
    color: rgba(0, 0, 0, 0);
    opacity: 0.5;
}
.experience_box article.blur header span{
    text-shadow: 0px 0px 10px #00A388;
    color: rgba(255, 210, 82, 0);
    opacity: 0.5;
}
.experience_box article.blur  p{
    text-shadow: 0px 0px 10px rgba(51, 51, 51, 0.9);
    color: rgba(51, 51, 51, 0);
    opacity: 0.5;
}
.experience_box article.active{
    transform: scale(1.05);
    box-shadow: 
        0px 0px 0px 10px #00A388, 
        1px 11px 15px 10px #16a085;
    z-index: 100;   
    opacity: 1;
}
.experience_box article.active h3 a,
.experience_box article.active header span,
.experience_box article.active p{
    opacity; 1;
}

.background-dark-green {
	background-color: #00A388;
	height: 50vh;
}

.text-yellow { 
	color: #f1c40f;
}

.small-line-contact {
	width: 1.7%;
	border: 0;
	display: block;
	border-top: 1.5px solid #f1c40f;
    margin: 1em 0;
	height: 1.5px;
	margin: 0 auto;
	margin-top: -5px;
	padding-bottom: 3px;
}

.footer {
	opacity: 0.5;
}